<div class="navbar navbar-white navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">The Nerdy Shop</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "127.0.0.1", root_path %></li>
        <li><%= link_to "WHO WE ARE", who_we_are_path %></li>
        <li><%= link_to "WHAT WE DO", what_we_do_path %></li>
        <li><%= link_to "TURN-KEY SOLUTIONS", turn_key_solutions_path %></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>