<div class="wide">
  	<div class="col-xs-1"></div>
    <div class="col-xs-10 logo">
    	<div style="margin-top: 10%;">
    		<h1 class="custom-font">Launching Startups Made Easy</h1>
    		<h3 class="custom-font-2">Yes, we'll help turn your idea into a software.</h3>
    		<br>
    		<%= link_to "Get Nerdy Now", '#', class: "btn btn-success btn-lg" %>
    	</div>
    </div>
    <div class="col-xs-1"></div>
</div>