<%= render 'pages/nav' %>
<%= render 'pages/static_image' %>

	<section style="margin-top: 70px;">
                 </div>
		<div class="row">
			<div class="col-md-12 text-center">
				<h2 class="heavy-font">WE ARE INDUSTRY EXPERTS</h2>
				<h4>Ready to disrupt? We'll partner with you to measurably impact your industry through technology.</h4>
			</div>
		</div>
</section>

<section style="background: #32343a; color: #fff;">
		<div class="row">
			<div class="col-md-12 text-center">
				<h2 class="heavy-font">WE ARE INDUSTRY EXPERTS</h2>
				<h4>Yes, it's true! We do turn coffee and pizza into code!</h4>
			</div>
		</div>
</section>


<%= render 'pages/footer' %>